.container {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-control {
    margin-left: 185px;
    margin-right: 185px;
    padding: 5px;
    text-align: left;
}

.table-container {
    display: flex;
    padding: 5px;
    align-content: center;
    text-align: center;
    align-content: center;
}

.data-dump-container {
    margin-top: 100px;
    margin-left: 185px;
    margin-right: 185px;
    padding: 5px;
}

.data-dump-box {
    border: 2px solid black;
    height: 200px;
}

.data {
    margin: 5px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    border: 2px solid black;
    width: 75%;
}

p {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
}

th {
    border: 1px solid black;
    width: 200px;
    height: 30px;
}

button.delete-button:hover,
button.delete-button:active {
    color: black;
    background: red;
}

button {
    font: inherit;
    background: transparent;
    border: 2px solid #521751;
    padding: 0.5rem 1rem;
    color: #521751;
    cursor: pointer;
    font-weight: bold;
}

    button:hover,
    button:active {
        color: black;
        background: green;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 200;
    top: 40%;
    left: 40%;
    width: 20%;
    background: white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    padding: 1rem;
}

    .modal h1 {
        color: #521751;
        margin: 0.5rem 0;
        font-size: 1.2rem;
        text-align: center;
    }

.form-group {
    display: flex;
    margin-bottom: 5px;
}

.form-check {
    display: flex;
}

.label-box {
    width: 70px;
    align-content: center;
    margin-right: 5px;
}

.form-control {
    font: inherit;
}

.modal-actions {
    text-align: right;
}

button.btn-cancel {
    border-color: red;
    color: red;
}

    button.btn-cancel:hover,
    button.btn-cancel:active {
        color: white;
        background: red;
    }

button.btn-confirm {
    border-color: green;
    color: green;
}

    button.btn-confirm:hover,
    button.btn-confirm:active {
        color: white;
        background: green;
    }

.backdrop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
